@media screen and (max-width: 440px){
    .container {
        padding: 15px;
        .header {
            .left {
                h1 {
                    font-size: 1.3rem;
                }
                p {
                    font-size: .7rem;
                    padding: 5px 10px;
                }
            }
            .right {
                button {
                    font-size: .9rem;
                }
            }
        }
    }

}